
# Upload settings.
sonatypeUsername={{ sshoogr/sshoogr/ossReleaseRepositoryUserName:latest }}
sonatypePassword={{ sshoogr/sshoogr/ossReleaseRepositoryPassword:latest }}
bintrayUsername={{ sshoogr/sshoogr/bintray.api.key:latest }}
bintrayApiKey={{ sshoogr/sshoogr/bintray.user.name:latest }}

# Signing settings.
signing.keyId={{ sshoogr/sshoogr/signing.keyId:latest }}
signing.password={{ sshoogr/sshoogr/signing.password:latest }}
signing.secretKeyRingFile=secring.gpg

# sdkman.io settings.
sdkmanConsumerKey={{ sshoogr/sshoogr/sdkmanConsumerKey:latest }}
sdkmanConsumerToken={{ sshoogr/sshoogr/sdkmanConsumerToken:latest }}

# Gradle Plugin Portal settings.
gradle.publish.key={{ sshoogr/sshoogr/gradle.publish.key:latest }}
gradle.publish.secret={{ sshoogr/sshoogr/gradle.publish.secret:latest }}