
# Upload settings.
ossReleaseRepositoryUserName={{ sshoogr/sshoogr/ossReleaseRepositoryUserName:latest }}
ossReleaseRepositoryPassword={{ sshoogr/sshoogr/ossReleaseRepositoryPassword:latest }}
ossSnapshotRepositoryUserName={{ sshoogr/sshoogr/ossSnapshotRepositoryUserName:latest }}
ossSnapshotRepositoryPassword={{ sshoogr/sshoogr/ossSnapshotRepositoryPassword:latest }}

# Signing settings.
signing.keyId={{ sshoogr/sshoogr/signing.keyId:latest }}
signing.password={{ sshoogr/sshoogr/signing.password:latest }}
signing.secretKeyRingFile=secring.gpg

# sdkman.io settings.
sdkmanConsumerKey={{ sshoogr/sshoogr/sdkmanConsumerKey:latest }}
sdkmanConsumerToken={{ sshoogr/sshoogr/sdkmanConsumerToken:latest }}
